.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 100px;
}
.catBox1 {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.catBox2 {
    background-color: #ededed;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.cattributes {
    background-color: #ededed;
    padding: 25px;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
